<h2>Clavardage</h2>
<section id="enregistrement">
    <input type="text">
    <button onclick="enregistrement()">Enregistrement</button>
</section>

<section id='chat' style='display:none;'>
    <table id='liste_util'></table>
    <table id='message'></table>
    <section id='messageATransmettre'>
        <input type="text" name="txtMessage">
        <button onclick="transmettreUnMessage()">Transmettre</button>
    </section>
</section>

<script type="text/javascript">
    let socket;
    window.onload = () => {
        socket = io()
        socket.on('connect', function() {

            socket.on('ackUser', function(data) {})

            socket.on('valide_user', function(data) {
                let elmEnregistrement = document.getElementById('enregistrement');
                elmEnregistrement.style.display = 'none';
                let elmChat = document.getElementById('chat');
                elmChat.style.display = 'flex';
            })
            //})

            socket.on('diffuser_liste_user', function(data) {

                afficheTableUser(data);
            })

            socket.on('valideMessage', function(data) {
                afficherMsg(data, 'blue');
            })

            socket.on('diffuserMessage', function(data) {
                afficherMsg(data, 'gray');
            })

            socket.on('diffuser_destruction_user', function(data) {
                afficheTableUser(data);
            })

        });

    }

    function enregistrement() {
        var elmUser = document.querySelector('#enregistrement input')

        socket.emit('setUser', {
            user: elmUser.value
        })
    }

    function transmettreUnMessage() {
        var elmMsg = document.querySelector('#messageATransmettre input')
        socket.emit('setMessage', {
            msg: elmMsg.value
        })
    }

    function afficherMsg(data, couleur) {
        let tabMessages = document.getElementById('message');
        let sChaine = tabMessages.innerHTML;
        sChaine += '<tr><th>' + data.user + '</th><td>' + data.msg + '</td></tr>';
        tabMessages.innerHTML = sChaine;
        aTr = tabMessages.querySelectorAll('tr');
        aTr[aTr.length - 1].style.backgroundColor = couleur;
    }

    function afficheTableUser(data) {
        let sChaine = '';
        for (id in data) {
            sChaine += '<tr><td>' + id + '</td><td>' + data[id] + '</td></tr>'
        }
        let elmListeUser = document.getElementById('liste_util');
        elmListeUser.innerHTML = sChaine;
    }

</script>
